.btn-back {
    background-color: hsl(209, 23%, 22%);
    margin: 3em;
    font-weight: 10;
    border: none;
    width: 8em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    .first-child {
        flex: 1 1 1em;
    }

    .second-child {
        flex: 1 1 4em;
    }
}

.country-info-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    .child-flag {
        
    }

    .child-info {

    }
}