* {
  margin: 0;
  padding: 0;
}

body {
  border: 2px solid yellow;
  background-color: #202c37;
  height: 100%;
  color: white;
}

@media only screen and (min-width: 1800px) {
  html {
    font-size: 200%;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 100%;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: .9em;
  }
}

.hdDark {
  background-color: #2b3945;
}

#home-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 25px;
}

#home-flex-container .title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

#home-flex-container .mode {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

#home-flex-container .mode .float-right {
  float: right;
}

header {
  color: white;
}

@media only screen and (min-width: 992px) {
  .bar-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bar-options .child1, .bar-options child2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }
}

.bar-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar-options .child1, .bar-options .child2 {
  margin: 50px;
}

.bar-options ::-webkit-input-placeholder {
  color: white;
}

.bar-options :-ms-input-placeholder {
  color: white;
}

.bar-options ::-ms-input-placeholder {
  color: white;
}

.bar-options ::placeholder {
  color: white;
}

.bar-options .child1 {
  -webkit-box-flex: .2;
      -ms-flex: .2 1 250px;
          flex: .2 1 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2b3945;
}

.bar-options .child1 .img-search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3em;
          flex: 0 0 3em;
  padding-left: 1.1em;
  padding-bottom: .2em;
  background-color: inherit;
}

.bar-options .child1 .ipt-country {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  background-color: #2b3945;
  color: inherit;
  font-size: .8em;
  border: none;
}

.bar-options .child2 {
  -webkit-box-flex: .1;
      -ms-flex: .1 1 160px;
          flex: .1 1 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar-options .child2 .dropdown {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
  max-width: 10em;
  background-color: #2b3945;
}

.bar-options .child2 .dropdown .dropdown-toggle {
  color: white;
  font-size: .7em;
  width: 100%;
}

.bar-options .child2 .dropdown .dropdown-menu {
  background-color: inherit;
  font-size: .7em;
}

.bar-options .child2 .dropdown .dropdown-item {
  color: white;
}

#cards-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2em;
}

@media only screen and (max-width: 450px) {
  .bar-options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 2em;
  }
  .bar-options .child1, .bar-options .child2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40px;
            flex: 1 0 40px;
    margin: 1.5em 0;
  }
  .bar-options .child1 {
    width: 90%;
    background-color: #2b3945;
  }
  .bar-options .child1 .img-search {
    background-color: #2b3945;
  }
  .bar-options .child1 .ipt-country {
    height: 100%;
  }
  .bar-options .child2 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 60%;
  }
  .bar-options .child2 .dropdown {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
    width: 100% !important;
  }
}

.card-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18em;
          flex: 0 1 18em;
  outline: white solid 1px;
  margin: 2em;
  cursor: pointer;
}

.card-wrapper img {
  height: 10em;
}

.card-wrapper .card {
  background-color: inherit;
}

.card-wrapper .card-description {
  font-size: .7em;
  font-weight: 500;
}

#main-one-country {
  margin: 4em;
}

.btn-back {
  background-color: #2b3945;
  font-weight: 10;
  border: none;
  width: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-back .first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1em;
          flex: 1 1 1em;
}

.btn-back .second-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 4em;
          flex: 1 1 4em;
}

.country-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}

.country-info-wrapper .child-flag {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30em;
          flex: 1 1 30em;
}

.country-info-wrapper .child-flag img {
  width: 100%;
  height: 100%;
}

.country-info-wrapper .child-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 53em;
          flex: 1 1 53em;
}

.country-info-wrapper .child-info .vertical-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.country-info-wrapper .child-info .vertical-wrapper .left-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18em;
          flex: 0 1 18em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: start;
  font-size: .8em;
}

.country-info-wrapper .child-info .vertical-wrapper .left-column .highlight-name {
  font-size: 2em;
  font-weight: 600;
}

.country-info-wrapper .child-info .vertical-wrapper .left-column .info:first-child {
  margin: 2em 0;
}

.country-info-wrapper .child-info .vertical-wrapper .left-column .info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 2em;
          flex: 1 1 2em;
}

.country-info-wrapper .child-info .vertical-wrapper .right-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10em;
          flex: 1 1 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: start;
  font-size: .8em;
}

.country-info-wrapper .child-info .vertical-wrapper .right-column .info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 2em;
          flex: 1 1 2em;
}

@media only screen and (max-width: 992px) {
  .vertical-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .country-info-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .child-flag {
    height: 19em;
  }
  .right-column .info:first-child {
    margin-top: 4em;
  }
}

@media only screen and (min-width: 992px) {
  .vertical-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .country-info-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .child-flag {
    height: 17em;
  }
  .left-column {
    margin-left: 8em;
  }
  .right-column {
    margin-left: 5em;
  }
  .right-column .info:first-child {
    margin-top: 8em;
  }
}
/*# sourceMappingURL=App.css.map */