// .main-container-light {
//     background-color: hsl(0, 0%, 98%);
//     height: 100vh;
//     color: black;
// }

// .hdLight {
//     background-color: hsl(0, 0%, 98%);
// }

.hdDark {
    background-color: hsl(209, 23%, 22%);
}

#home-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    padding: 25px;

    .title {
        flex: 1 1 auto;
    }

    .mode {
        flex: 1 1 auto;

        .float-right {
            float: right;
        }
    }


}


header {
    color: white;
}


@media only screen and (min-width: $lg) {

    .bar-options {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .child1, child2 {
            flex: 0 0 200px;
        }
    }
}