#main-one-country {
    margin: 4em;
}

.btn-back {
    background-color: hsl(209, 23%, 22%);
    font-weight: 10;
    border: none;
    width: 8em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    .first-child {
        flex: 1 1 1em;
    }

    .second-child {
        flex: 1 1 4em;
    }
}

.country-info-wrapper {
    display: flex;
    // flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2em;

    .child-flag {
        flex: 1 1 30em;

         img {
            width: 100%;
            height: 100%;
         }
    }

    .child-info {
        flex: 1 1 53em;

        .vertical-wrapper {
            display: flex;
            // flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-start;

            .left-column {
                flex: 0 1 18em;
                display: flex;
                flex-flow: column wrap;
                justify-content: flex-start;
                text-align: start;
                font-size: .8em;

                .highlight-name {
                    font-size: 2em;
                    font-weight: 600;
                }

                .info:first-child {
                    margin: 2em 0;
                }

                .info {
                    flex: 1 1 2em;
                }
            }

            .right-column {
                flex: 1 1 10em;
                display: flex;
                flex-flow: column wrap;
                justify-content: flex-start;
                text-align: start;
                font-size: .8em;

                .info {
                    flex: 1 1 2em;
                }
            }
        }
    }
}



@media only screen and (max-width: $lg) {   // De tableta hacia abajo. //

    .vertical-wrapper {
        flex-flow: column nowrap;
    }

    .country-info-wrapper {
        flex-flow: row wrap;
    }

    .child-flag {
        height: 19em;
    }

    .right-column .info:first-child {
        margin-top: 4em;
    }
}



@media only screen and (min-width: $lg) {   // De tableta hacia arriba. //

    .vertical-wrapper {
        flex-flow: row nowrap;
    }

    .country-info-wrapper {
        flex-flow: row nowrap;
    }

    .child-flag {
        height: 17em;
    }

    .left-column {
        margin-left: 8em;
    }

    .right-column {
        margin-left: 5em;

        .info:first-child {
            margin-top: 8em;
        }
    }
}